body{
     border: 150px solid lightblue;
    
   
   
    background-color: gray;
    background-size: 75%;
  }
  form{
    background-color: gray;
    
    
    padding: 05%;
    
    background-size: 75%;
  }
  table,th,td{
    border: 1px solid black;
    border-collapse:collapse ;
    size: 10px;
  }
  
  input[type=text1],select{
    width: 45%;
    padding: 12px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: content-box;
  }
  input[type=text2],select{
    width: 45%;
    padding: 12px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: content-box;
  }
  input[type=text3],select{
    width: 45%;
    padding: 12px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: content-box;
  }
  
  input[type=text4],select{
    width: 45%;
    padding: 12px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: content-box;
  }
  input[type=text5],select{
    width: 45%;
    padding: 12px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid#ccc;
    border-radius: 4px;
    box-sizing: content-box;
  }
  input[type=text6],select{
    width: 45%;
    padding: 12px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid#ccc;
    border-radius: 4px;
    box-sizing: content-box;
  }
  input[type=number1],select{
    width: 93%;
    padding: 12px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid#ccc;
    border-radius: 4px;
    box-sizing: content-box;
  }
  input[type=number2],select{
    width: 93%;
    padding: 12px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid#ccc;
    border-radius: 4px;
    box-sizing: content-box;
  }
  input[type=email],select{
    width: 45%;
    padding: 12px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid#ccc;
    border-radius: 4px;
    box-sizing: content-box;
  }
  input[type=text7],select{
    width: 93%;
    padding: 12px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid#ccc;
    border-radius: 4px;
    box-sizing: content-box;
  }
  input[type=text8],select{
    width: 93%;
    padding: 12px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid#ccc;
    border-radius: 4px;
    box-sizing: content-box;
  }
  .submit{
    background-color:white;
    border: none;
    size: 150%;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline inline-block;
    font-size: 16px;margin: 4px 2px;
    cursor: pointer;
    float: right;
  }
  .submit{
    background-color: white;
    color: black;
    border:2px;
  }
  .submit:hover{
  background-color: #4caf50;
  color:white;
  }
  #OP1{
    font-size: 20px;
    color: red;
  }
  #OP2{
    font-size: 20px;
    color: red;
  }
  #OP3{
    font-size: 20px;
    color: red;
  }
  #OP4{
    font-size: 20px;
    color: red;
  }
  #OP5{
    font-size: 20px;
    color: red;
  }
  #OP6{
    font-size: 20px;
    color: red;
  }
  #OP7{
    font-size: 20px;
    color: red;
  }
  #OP8{
    font-size: 20px;
    color: red;
  }
  #OP9{
    font-size: 20px;
    color: red;
  }
  #OP10{
    font-size: 20px;
    color: red;
  }
  #OPa{
    font-size: 20px;
    color: red;
  }
  #OPr{
    font-size: 20px;
    color: red;
  }
  label.error{
    color: red;
    font-size: 15px;
    display: block;
    margin-top: 5px;
}
input.error,textarea.error{
    border: 1px ;
    font-weight: 300;
    
}